<h2>Our Projects</h2>
<ul class = "projects">
    <li *ngFor ="let project of projectsData">
        <input *ngIf = 'buttonVisible()' type = "checkbox" name="{{project.name}}" [(ngModel)]="project.is_selected">
        <a routerLink = "/project-detail/{{project.id}}">
            <span class = "badge"> {{project.id}}</span> {{project.name}}
        </a>
        <button class = "delete" title = "Delete project" (click) = "delete(project)">Delete</button>
    </li>
</ul>
<button *ngIf = 'buttonVisible()' (click) = 'save()'>Save</button>
<button (click)="goBack()">Go Back</button>
